## Welcome to the first assignment!

In this assignment, we'll get introduced to our dataset for the course.
The dataset is represented as a `pandas` data frame, so we'll also get acquainted with `pandas`.
Finally, since `pandas` relies on `numpy`, we'll get to know `numpy` a little.

In [1]:
# Let's open the dataset
# If you haven't already:
#  1. head over to the sharepoint site
#  2. download 'accounts.zip'
#  3. unzip it to reveal 'accounts.pkl'

import pickle

with open('accounts.pkl', 'rb') as f:
    df = pickle.load(f)

In [2]:
# What's the type of df?

pandas.core.frame.DataFrame

In [3]:
# Get some help on df

In [4]:
# How many rows and columns are in df?

(2358308, 44)

In [5]:
# What are the columns in df?

Index(['ACCOUNT_ID', 'WEB_USER_ID', 'COMP_FUNDCODE', 'ACCOUNT_NUMBER',
       'WEB_ELIGIBLE_IND', 'ACCOUNT_TYPE', 'FUND_FAMILY', 'USE_NAME',
       'SORT_NAME1', 'OPEN_DATE', 'CLOSE_DATE', 'BIRTH_DATE', 'SDW_LOAD_DATE',
       'TOTAL_SHARE_BALANCE', 'AVAIL_SHARES', 'FIRM_IDENTIFIER',
       'BRANCH_IDENTIFIER', 'REP_IDENTIFIER', 'SWP_FLAG', 'STOP_CODE',
       'RETIRE_PLAN_TYPE', 'SOCIAL_CODE', 'RET_PRODUCT_IND',
       'RET_PRODUCT_IND2', 'MATRIX_LEVEL', 'RPO_CODE', 'SSN_VERIFIED_FLAG',
       'TAX_WITH_ELECT', 'GEOGRAPHIC_AREA_CODE', 'ACCOUNT_GROUP_IDENTIFIER',
       'TELEPHONE_NUMBER', 'EFT_BANK_NUMBER', 'PAC_BANK_ACCOUNT',
       'TEL_EXCH_FLAG', 'TEL_LIQ_FLAG', 'ACH_LIQ_FLAG', 'ACH_PURCH_FLAG',
       'DEALER_TEL_EXCH_FLAG', 'DEALER_TEL_LIQ_FLAG', 'DEALER_ACH_LIQ_FLAG',
       'DEALER_ACH_PURCH_FLAG', 'SPECIAL_WARNING_CODE', 'ACCOUNT_STATUS',
       'REGISTRATION_TYPE'],
      dtype='object')

In [6]:
# Take a look at ACCOUNT_ID column. 
# What is its type?
# What are some of the values in the column?
# How many of the values are missing?

0                0
1                1
2                2
3                3
4                4
5                5
6                6
7                7
8                8
9                9
10              10
11              11
12              12
13              13
14              14
15              15
16              16
17              17
18              18
19              19
20              20
21              21
22              22
23              23
24              24
25              25
26              26
27              27
28              28
29              29
            ...
2358278    2358278
2358279    2358279
2358280    2358280
2358281    2358281
2358282    2358282
2358283    2358283
2358284    2358284
2358285    2358285
2358286    2358286
2358287    2358287
2358288    2358288
2358289    2358289
2358290    2358290
2358291    2358291
2358292    2358292
2358293    2358293
2358294    2358294
2358295    2358295
2358296    2358296
2358297    2358297
2358298    2358298
2358299    2358299
2358300    2358300
2358301    2358301
2358302    2358302
2358303    2358303
2358304    2358304
2358305    2358305
2358306    2358306
2358307    2358307
Name: ACCOUNT_ID, Length: 2358308, dtype: int32
The data type int32
Some values 10    10
11    11
12    12
13    13
14    14
Name: ACCOUNT_ID, dtype: int32
Number of values missing 0

In [7]:
# Now let's look at ACCOUNT_STATUS
# What is its data type?

category

In [10]:
# How many occurences of each ACCOUNT_STATUS are there?
# Another way of asking the question: How many unique ACCOUNT_IDs are there, grouped by ACCOUNT_STATUS
# Hint: read help(df.groupby) and read help(df.nunique)

ACCOUNT_STATUS
Closed         80
Open      2358228
Name: ACCOUNT_ID, dtype: int64

In [11]:
# What's the most common OPEN_DATE among records with an ACCOUNT_STATUS of closed?
# How many closed accounts have this open date?

2011-10-29 00:00:00 8

In [12]:
# Finally, let's look at TOTAL_SHARE_BALANCE
# Look at the .describe method. Answer the following questions:
#  Are there any missing (aka null) values?
#  What's the mean and standard deviation?
#  What's the median (aka 50th percentile)?
#  The mean and the median are pretty different. What does that tell you?

count    2.358308e+06
mean     7.330772e+03
std      5.095968e+05
min      1.000000e-03
25%      8.652100e+01
50%      3.112335e+02
75%      1.138500e+03
max      5.491509e+08
Name: TOTAL_SHARE_BALANCE, dtype: float64

In [4]:
# Let's do some random sampling
# A useful function for random sampling is the choice function from numpy.random.
# Import choice and get a sample of size 25 from TOTAL_SHARE_BALANCE

array([  231.391,   471.357,    94.967,   662.569,   322.18 ,   541.632,
         239.015,   772.865,    90.761,   121.856,  1769.901,   336.442,
         106.965,   162.486,  2080.098,   293.703,   144.268,    55.203,
         316.638,   811.13 ,   290.822,   182.603,   163.985,    11.292,
         660.66 ])

In [5]:
# Define a function that samples the TOTAL_SHARE_BALANCE column
# and returns the mean of the sample.
# The function should take one argument: the sample size

In [33]:
# Using a loop, find how large of a sample size
# is required to get the sample mean to within
# 5 percent of the population mean discovered 
# above with the .describe method. 
# Hint: start with a sample size of 500 and 
# work up in increments of 1000.

In [36]:
# Rerun that loop 500 times, collecting the
# sample size returned into a numpy array.
# What's the mean and standard deviation of 
# the resulting array? How reliable is the above 
# estimate of a "good" sample size?

13414.0
9247.41066461

13416.0
8867.74740281